/* ToggleDarkMode SVG animation by @bartkozal -- used with permission */
/* Source: https://codesandbox.io/s/dark-mode-toggle-si6k2?file=/src/DarkModeToggle.js */

.switch {
  display: block;
  width: 170px;
  height: 70px;
}

.button {
  transition: transform 0.5s;
}

.cloud1,
.cloud2,
.sun {
  transition: transform 0.8s;
}

.moon {
  transform: translateY(-40px);
  transition: transform 0.7s;
}

.mountain3,
.mountain2,
.mountain1,
.trees {
  transition: fill 0.8s;
}

.background-top-color,
.background-bottom-color {
  transition: stop-color 0.7s;
}

.theme-toggle--dark .button {
  transform: translateX(100px);
}

.theme-toggle--dark .cloud1 {
  transform: translateX(-100px);
}

.theme-toggle--dark .cloud2 {
  transform: translateX(60px);
}

.theme-toggle--dark .sun {
  transform: translateY(50px);
}

.theme-toggle--dark .moon {
  transform: translateY(0px);
}

.theme-toggle--dark .mountain3 {
  fill: #858585;
}

.theme-toggle--dark .mountain2 {
  fill: #4d4d4d;
}

.theme-toggle--dark .mountain1 {
  fill: #262626;
}

.theme-toggle--dark .trees {
  fill: #1a1a1a;
}

.theme-toggle--dark .background-top-color {
  stop-color: #000;
}

.theme-toggle--dark .background-bottom-color {
  stop-color: #210658;
}

.theme-toggle--light .button {
  transform: translateX(0);
}

.theme-toggle--light .cloud1 {
  transform: translateX(0);
}

.theme-toggle--light .cloud2 {
  transform: translateX(0);
}

.theme-toggle--light .sun {
  transform: translateY(0);
}

.theme-toggle--light .moon {
  transform: translateY(-40px);
}

.theme-toggle--light .mountain3 {
  fill: #729971;
}

.theme-toggle--light .mountain2 {
  fill: #316930;
}

.theme-toggle--light .mountain1 {
  fill: #0d3f0c;
}

.theme-toggle--light .trees {
  fill: #092b08;
}

.theme-toggle--light .background-top-color {
  stop-color: #75daf0;
}

.theme-toggle--light .background-bottom-color {
  stop-color: #c3eff8;
}

.star1 {
  transform-origin: 154px 28px;
}
.star2 {
  transform-origin: 135px 24px;
}
.star3 {
  transform-origin: 143px 12px;
}
.star4 {
  transform-origin: 125px 6px;
}
.star5 {
  transform-origin: 114px 20px;
}
.star6 {
  transform-origin: 15px 16px;
}
.star7 {
  transform-origin: 29px 22px;
}
.star8 {
  transform-origin: 37px 12px;
}
.star9 {
  transform-origin: 68px 12px;
}
.star10 {
  transform-origin: 94px 10px;
}
.star11 {
  transform-origin: 79px 22px;
}
.star12 {
  transform-origin: 52px 19px;
}

.star1,
.star2,
.star3,
.star4,
.star5,
.star6,
.star7,
.star8,
.star9,
.star10,
.star11,
.star12 {
  transform: scale(0);
}

.star1,
.star5,
.star9 {
  transition: transform 0.2s;
}
.star2,
.star6,
.star10 {
  transition: transform 0.4s;
}
.star3,
.star7,
.star11 {
  transition: transform 0.6s;
}
.star4,
.star8,
.star12 {
  transition: transform 0.8s;
}

.theme-toggle--dark .star1,
.theme-toggle--dark .star2,
.theme-toggle--dark .star3,
.theme-toggle--dark .star4,
.theme-toggle--dark .star5,
.theme-toggle--dark .star6,
.theme-toggle--dark .star7,
.theme-toggle--dark .star8,
.theme-toggle--dark .star9,
.theme-toggle--dark .star10,
.theme-toggle--dark .star11,
.theme-toggle--dark .star12 {
  transform: scale(1);
}

@media (prefers-reduced-motion: reduce) {
  .switch * {
    transition-duration: 0s;
  }
}
