@import "./dark-mode-toggle.css" layer(base);
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:focus-visible {
  outline: 3px solid rgb(255 255 255);
  outline-offset: 2px;
  box-shadow: 0 0 0 5px rgb(4 120 87);
}

html,
body {
  scroll-behavior: smooth;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
